.div-balance {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
}

.balance-hider {
    border-radius: 3.4rem;
    height: 50%;
    background: #323232E5;
    color: #E4E0D8;
    text-align: center;
}

.balance-button-wrapper {
    height: 50%;
    align-self: flex-end;
    width: 100%;
    border-radius: 3rem;
    padding: 0.2rem;
    box-shadow: 
        0.125rem 0.125rem 0.25rem #C4BCB3,
        -0.125rem -0.125rem 0.25rem #FFFEF2;
        
    transition: box-shadow 0.4s ease;
    font-family: "Space Grotesk";
}

.balance-button-wrapper:hover {
    box-shadow: 
        0.125rem 0.125rem 0.25rem #C4BCB3,
        -0.125rem -0.125rem 0.25rem #FFFEF2;
    transition: background-color ease 0.4s, color ease 0.2s;
}

.balance-button {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    background-color: #FFBE98;
    color: #323232E5;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border: none;
}

.balance-button:active {
    box-shadow: 
        inset 0.25rem 0.25rem 0.75rem #D9A281,
        inset -0.25rem -0.25rem 0.75rem #FFDBAF;

    transition: background-color ease 0.4s, color ease 0.2s;
}

.balance-button:focus {
    outline: none;
}