:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #323232;
  color-scheme: light dark;
  background: #E4E0D8;
  background-image: url(./assets/noise.svg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #5A7BAB;
  text-decoration: inherit;
}

a:hover {
  color: #5A7BABdd;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #323232;
  cursor: pointer;
  transition: border-color 0.25s;
}

.neumorph-ui {
  box-shadow:
    -0.125rem 0.125rem 0.25rem #C4BCB3,
    0.125rem -0.125rem 0.25rem #FFFEF2;
}

.neumorph-ui-left {
  box-shadow:
    0.125rem 0.125rem 0.25rem #C4BCB3,
    -0.125rem -0.125rem 0.25rem #FFFEF2;
}

.neumorph-ui-inset {
  box-shadow:
    inset 0.125rem 0.125rem 0.25rem #C4BCB3,
    inset -0.125rem -0.125rem 0.25rem #FFFEF2;
}

button:hover {
  border-color: #765598;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #323232;
    background-color: #E4E0D8;
  }

  a:hover {
    color: #5A7BABdd;
  }

  button {
    border-radius: 16px;
    box-shadow: 2px 2px 4px #c2beb8,
      -2px -2px 4px #fffff8;
  }
}